.registration-form {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.registration-form h2 {
    text-align: center;
    color: #ffc800;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;
}

body {
    background-color: #000000;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.form-container {
    display: flex;
    flex-direction: column; 
    padding: 20px;
}
.form-column {
    background-color: rgba(255, 255, 255, 0.107);
    border-radius: 10px;
    padding: 20px;
    width: 500px;
}
input[type="text"], input[type="tel"], input[type="password"], select {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
button {
    padding: 10px;
    border-radius: 5px;
    background-color: #ffd000;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #ffb300;
}


